# Visual Studio
.vs/
**/.vs/
*.suo
*.user
*.VC.db
*.ipch

# Build folders
Debug/
Release/
x64/
x86/
**/Debug/
**/Release/
**/x64/
**/x86/

# SFML / local libs
include/
lib/
cmake/
**/include/
**/lib/
**/cmake/